body{
    background-color: gray;
    color: cyan;
}
#table01{
    width: 10;
    border-style: double;
    border-color: blueviolet;
    
    border-radius: 10%;
    background-color: black;
}
#table02{
    width: 100;
    border-style: none;
    border-color: black;
    
    border-radius: 5%;
    background-color: darkred;
}